@media (max-width:1200px) {


    .signUp-heading h3 {
        font-size: 20px;
        margin-bottom: 3px;
    }

    .signUp-heading p {
        font-size: 12px;
        margin-bottom: 0px;
    }

    .correction-list {
        font-size: 14px;
    }

}

@media  (max-width:992px) {
    .signUp {
        width: 68%;
        padding: 0px;
    }
    .signUp-heading h3 {
        font-size: 21px;
        margin-bottom: 2px;
    }

    .signUp-heading p {
        font-size: 12px;
        margin-bottom: 0px;
    }

    ul {
        gap: 29px;
        font-size: 12px;
    }
    .un-list ul li {
        width: 168px;
    }
    .padding {
        padding-top: 48px;
    }

}

@media (max-width:768px) {
    .signUp {
        width: 67%;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width:576px) {
    .signUp-heading h3 {
        font-size: 19px;
        margin-bottom: 1px;
    }
    .signUp-heading p {
        font-size: 11px;
        margin-bottom: 0px;
    }
    label {
        font-size: 12px;
        padding-bottom: 1px;
    }
    input [type="text" ] {
        border-radius: 5px;
        height: 26px;
        font-size: 12px !important;
        padding: 2px 5px;
    
    }
    small #hide-show {
        color: #858585;
        font-size: 12px;
    }
    .password-div img {
        width: 16px ;
        height: 15px ;
    }
}


@media (max-width:435px) {
    .signUp-heading h3 {
        font-size: 19px;
        margin-bottom: 1px;
    }

    .signUp-heading p {
        font-size: 11px;
        margin-bottom: 0px;
    }

    label {
        font-size: 11px;
        padding-bottom: 0px;
    }

    .pass-icon {
        width: 14px;
        height: 14px;
    }

    ul li {
        width: 140px;
    }
}